<a href="https://colab.research.google.com/github/iterat1on/class/blob/main/%EA%B3%B5%EC%9C%A0%EC%9E%90%EB%8F%99%EC%B0%A8_%EC%A0%84%EC%B2%98%EB%A6%AC2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 할당

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [28]:
import pandas as pd
import numpy as np
import math
import pandas as pd

In [29]:
df = pd.read_csv('./drive/MyDrive/airport_filtered.csv')
df.head()

,device_id,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,...,s_teukbyul_si/do,s_teukbyulsi/goon/gu,s_dong/eup/myun,e_teukbyulsi/do,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,duration,fee,root_dist
0,8.640000e+14,2021-06-08 12:00,2021-06-08 12:00,37.567810,126.825028,37.592553,126.693173,2045.043,187.187000,152.152000,...,서울특별시,강서구,마곡동,인천광역시,서구,당하동,원활 올림픽대로 1.8km 원활 벌말로 1.6km 원활 드림로 9.1km,23분,"20,730원",18km
1,8.640000e+14,2021-06-08 22:00,2021-06-08 22:00,35.235030,128.903150,35.181012,128.955322,3283.280,100.100000,77.077000,...,경상남도,김해시,어방동,부산광역시,강서구,공항진입로,원활 김해대로 2.6km 원활 낙동북로 4.2km 미확인 공항로 3.1km,16분,"20,470원",12km
2,8.640000e+14,2021-06-08 22:00,2021-06-08 22:00,35.181012,128.955322,35.180432,128.954583,720.720,0.000000,0.000000,...,부산광역시,강서구,공항진입로,부산광역시,강서구,대저2동,미확인 공항진입로 132m 미확인 공항로811번길 204m,1분,"4,550원",480m
3,8.620000e+14,2021-06-08 23:00,2021-06-08 23:00,37.541332,126.871237,37.563202,126.861593,1832.831,166.783539,137.137000,...,서울특별시,양천구,목동,서울특별시,강서구,가양3동,미확인 목동중앙본로 553m 서행 목동중앙북로 777m 미확인 공항대로59길 591m,7분,"5,750원",3.4km
4,8.640000e+14,2021-06-08 23:00,2021-06-08 23:00,35.180432,128.954583,35.176857,128.950837,1500.499,18.018000,12.700891,...,부산광역시,강서구,대저2동,부산광역시,강서구,대저2동,미확인 공항앞길 553m,1분,"4,550원",568m

#전처리

##road_split

In [31]:
df['road_1'] = df["road_list"].str.split(" ", expand=True)[1]
df['road_2'] = df["road_list"].str.split(" ", expand=True)[4]
df['road_3'] = df["road_list"].str.split(" ", expand=True)[7]
df.tail()

,device_id,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,...,e_teukbyulsi/do,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,duration,fee,root_dist,road_1,road_2,road_3
650,8.640000e+14,2021-06-22 4:00,2021-06-22 4:00,35.176848,128.950907,35.176723,128.951015,996.996,0.000,0.000,...,부산광역시,강서구,대저2동,미확인 공항앞길 15m,1분,"4,550원",25m,공항앞길,None,None
651,8.640000e+14,2021-06-22 5:00,2021-06-22 5:00,35.176718,128.951015,35.176767,128.950752,1231.230,0.000,0.000,...,부산광역시,강서구,공항앞길,NaN,1분,"4,550원",25m,NaN,NaN,NaN
652,8.640000e+14,2021-06-22 5:00,2021-06-22 6:00,34.867533,128.728435,35.100412,128.887265,2687.685,111.111,177.177,...,부산광역시,강서구,신호동,원활 거제대로 8.8km 원활 거가대로 33km 원활 녹산산업대로 2.7km,46분,"74,730원",50km,거제대로,거가대로,녹산산업대로
653,8.640000e+14,2021-06-22 5:00,2021-06-22 6:00,35.176892,128.957837,35.293848,128.322263,2823.821,54.054,93.093,...,경상남도,함안군,군북면,미확인 공항로 2.2km 원활 남해제2고속도로지선 20km 원활 남해고속도로 48km,50분,"103,500원",72km,공항로,남해제2고속도로지선,남해고속도로
654,8.640000e+14,2021-06-22 6:00,2021-06-22 6:00,35.183295,128.724233,35.176717,128.950918,2578.576,199.199,125.125,...,부산광역시,강서구,대저2동,원활 남해안대로 4.5km 원활 금관대로 3.3km 원활 남해제2고속도로지선 16km,22분,"42,110원",27km,남해안대로,금관대로,남해제2고속도로지선

In [32]:
df['road_1'].fillna('-',inplace=True)
df['road_2'].fillna('-',inplace=True)
df['road_3'].fillna('-',inplace=True)

In [33]:
df['path'] = df['road_1'] +',' + df['road_2'] +',' +  df['road_3']

In [34]:
df.path.replace('-','',regex=True,inplace=True)
for index in range(0,len(df.path)):
   df.path[index] = df.path[index].strip(',')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [35]:
df

,device_id,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,...,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,duration,fee,root_dist,road_1,road_2,road_3,path
0,8.640000e+14,2021-06-08 12:00,2021-06-08 12:00,37.567810,126.825028,37.592553,126.693173,2045.043,187.187000,152.152000,...,서구,당하동,원활 올림픽대로 1.8km 원활 벌말로 1.6km 원활 드림로 9.1km,23분,"20,730원",18km,올림픽대로,벌말로,드림로,"올림픽대로,벌말로,드림로"
1,8.640000e+14,2021-06-08 22:00,2021-06-08 22:00,35.235030,128.903150,35.181012,128.955322,3283.280,100.100000,77.077000,...,강서구,공항진입로,원활 김해대로 2.6km 원활 낙동북로 4.2km 미확인 공항로 3.1km,16분,"20,470원",12km,김해대로,낙동북로,공항로,"김해대로,낙동북로,공항로"
2,8.640000e+14,2021-06-08 22:00,2021-06-08 22:00,35.181012,128.955322,35.180432,128.954583,720.720,0.000000,0.000000,...,강서구,대저2동,미확인 공항진입로 132m 미확인 공항로811번길 204m,1분,"4,550원",480m,공항진입로,공항로811번길,-,"공항진입로,공항로811번길"
3,8.620000e+14,2021-06-08 23:00,2021-06-08 23:00,37.541332,126.871237,37.563202,126.861593,1832.831,166.783539,137.137000,...,강서구,가양3동,미확인 목동중앙본로 553m 서행 목동중앙북로 777m 미확인 공항대로59길 591m,7분,"5,750원",3.4km,목동중앙본로,목동중앙북로,공항대로59길,"목동중앙본로,목동중앙북로,공항대로59길"
4,8.640000e+14,2021-06-08 23:00,2021-06-08 23:00,35.180432,128.954583,35.176857,128.950837,1500.499,18.018000,12.700891,...,강서구,대저2동,미확인 공항앞길 553m,1분,"4,550원",568m,공항앞길,-,-,공항앞길
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650,8.640000e+14,2021-06-22 4:00,2021-06-22 4:00,35.176848,128.950907,35.176723,128.951015,996.996,0.000000,0.000000,...,강서구,대저2동,미확인 공항앞길 15m,1분,"4,550원",25m,공항앞길,-,-,공항앞길
651,8.640000e+14,2021-06-22 5:00,2021-06-22 5:00,35.176718,128.951015,35.176767,128.950752,1231.230,0.000000,0.000000,...,강서구,공항앞길,NaN,1분,"4,550원",25m,-,-,-,
652,8.640000e+14,2021-06-22 5:00,2021-06-22 6:00,34.867533,128.728435,35.100412,128.887265,2687.685,111.111000,177.177000,...,강서구,신호동,원활 거제대로 8.8km 원활 거가대로 33km 원활 녹산산업대로 2.7km,46분,"74,730원",50km,거제대로,거가대로,녹산산업대로,"거제대로,거가대로,녹산산업대로"
653,8.640000e+14,2021-06-22 5:00,2021-06-22 6:00,35.176892,128.957837,35.293848,128.322263,2823.821,54.054000,93.093000,...,함안군,군북면,미확인 공항로 2.2km 원활 남해제2고속도로지선 20km 원활 남해고속도로 48km,50분,"103,500원",72km,공항로,남해제2고속도로지선,남해고속도로,"공항로,남해제2고속도로지선,남해고속도로"
654,8.640000e+14,2021-06-22 6:00,2021-06-22 6:00,35.183295,128.724233,35.176717,128.950918,2578.576,199.199000,125.125000,...,강서구,대저2동,원활 남해안대로 4.5km 원활 금관대로 3.3km 원활 남해제2고속도로지선 16km,22분,"42,110원",27km,남해안대로,금관대로,남해제2고속도로지선,"남해안대로,금관대로,남해제2고속도로지선"

##같은 주소 제거

In [9]:
df.dropna(subset = ['road_list'], inplace = True)
df.reset_index(inplace= True)
#df.drop('index', axis =1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 555 non-null    int64
 1   device_id             555 non-null    float64
 2   s_date                555 non-null    object
 3   e_date                555 non-null    object
 4   s_lat                 555 non-null    float64
 5   s_lng                 555 non-null    float64
 6   e_lat                 555 non-null    float64
 7   e_lng                 555 non-null    float64
 8   max_rpm               555 non-null    float64
 9   s20                   555 non-null    float64
 10  s30                   555 non-null    float64
 11  s40                   555 non-null    float64
 12  s50                   555 non-null    float64
 13  s60                   555 non-null    float64
 14  s70                   555 non-null    float64
 15  s80                   555 non-null    float64
 16  s90                   555 non-null    float64
 17  s100                  555 non-null    float64
 18  s110                  555 non-null    float64
 19  s120                  555 non-null    float64
 20  s130                  555 non-null    float64
 21  s140                  555 non-null    float64
 22  s150                  555 non-null    float64
 23  start_gps             555 non-null    object
 24  end_gps               555 non-null    object
 25  distance              555 non-null    float64
 26  start_add             555 non-null    object
 27  end_add               555 non-null    object
 28  s_teukbyul_si/do      555 non-null    object
 29  s_teukbyulsi/goon/gu  555 non-null    object
 30  s_dong/eup/myun       550 non-null    object
 31  e_teukbyulsi/do       555 non-null    object
 32  e_teukbyulsi/goon/gu  555 non-null    object
 33  e_dong/eup/myun       547 non-null    object
 34  road_list             555 non-null    object
 35  duration              555 non-null    object
 36  fee                   555 non-null    object
 37  root_dist             555 non-null    object
 38  road_1                555 non-null    object
 39  road_2                555 non-null    object
 40  road_3                555 non-null    object
 41  path                  555 non-null    object
dtypes: float64(21), int64(1), object(20)
memory usage: 182.2+ KB

## 시간(duration) 전처리

In [10]:
def calc_time(x) :
  x = x.replace('분', '')
  if '시간' in x :
    try :
      hour, min = x.split('시간 ')
      a = int(hour)*60 + int(min)
    except ValueError:
      hour = x.replace('시간', '')
      a = int(hour)*60
  else :
    a = int(x)
  return a

In [11]:
df['duration(min)'] = df.duration.apply(lambda x : calc_time(x))
df.drop('duration', axis =1, inplace = True)
df.head()

,index,device_id,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,...,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,fee,root_dist,road_1,road_2,road_3,path,duration(min)
0,0,8.640000e+14,2021-06-08 12:00,2021-06-08 12:00,37.567810,126.825028,37.592553,126.693173,2045.043,187.187000,...,서구,당하동,원활 올림픽대로 1.8km 원활 벌말로 1.6km 원활 드림로 9.1km,"20,730원",18km,올림픽대로,벌말로,드림로,"올림픽대로,벌말로,드림로",23
1,1,8.640000e+14,2021-06-08 22:00,2021-06-08 22:00,35.235030,128.903150,35.181012,128.955322,3283.280,100.100000,...,강서구,공항진입로,원활 김해대로 2.6km 원활 낙동북로 4.2km 미확인 공항로 3.1km,"20,470원",12km,김해대로,낙동북로,공항로,"김해대로,낙동북로,공항로",16
2,2,8.640000e+14,2021-06-08 22:00,2021-06-08 22:00,35.181012,128.955322,35.180432,128.954583,720.720,0.000000,...,강서구,대저2동,미확인 공항진입로 132m 미확인 공항로811번길 204m,"4,550원",480m,공항진입로,공항로811번길,-,"공항진입로,공항로811번길",1
3,3,8.620000e+14,2021-06-08 23:00,2021-06-08 23:00,37.541332,126.871237,37.563202,126.861593,1832.831,166.783539,...,강서구,가양3동,미확인 목동중앙본로 553m 서행 목동중앙북로 777m 미확인 공항대로59길 591m,"5,750원",3.4km,목동중앙본로,목동중앙북로,공항대로59길,"목동중앙본로,목동중앙북로,공항대로59길",7
4,4,8.640000e+14,2021-06-08 23:00,2021-06-08 23:00,35.180432,128.954583,35.176857,128.950837,1500.499,18.018000,...,강서구,대저2동,미확인 공항앞길 553m,"4,550원",568m,공항앞길,-,-,공항앞길,1

##요금(fee) 전처리

In [12]:
df.fee.replace(',','',regex=True,inplace=True)
df.fee.replace('원','',regex=True,inplace=True)
df.fee = df.fee.apply(pd.to_numeric)

##총 거리(root_dist) 전처리

In [36]:
def root_dist_def(x) :
  if 'km' in x :
    x = x.replace('km', '')
    pass
  else :
    x = float(x.replace('m', ''))*0.001
  return x

In [37]:
df['root_dist(km)'] = df.root_dist.apply(lambda x : root_dist_def(x))
df.drop('root_dist', axis =1, inplace = True)
df.head()

TypeError: ignored

##시간대 변수 추가

In [38]:
#datetime으로 변환
df['s_Datetime'] = pd.to_datetime(df['s_date'], format="%Y-%m-%d %H:%M")
df['e_Datetime'] = pd.to_datetime(df['e_date'], format="%Y-%m-%d %H:%M")

#시작날짜 분리
df['s_year'] = df['s_Datetime'].dt.year
df['s_month'] = df['s_Datetime'].dt.month
df['s_day'] = df['s_Datetime'].dt.day
df['s_hour'] = df['s_Datetime'].dt.hour


#종료날짜 분리
df['e_year'] = df['e_Datetime'].dt.year
df['e_month'] = df['e_Datetime'].dt.month
df['e_day'] = df['e_Datetime'].dt.day
df['e_hour'] = df['e_Datetime'].dt.hour

#요일 추출
df['s_week'] = df['s_Datetime'].dt.weekday
df['e_week'] = df['e_Datetime'].dt.weekday

#열 제거
df.drop('s_date', axis =1, inplace = True)
df.drop('e_date', axis =1, inplace = True)

In [39]:
def weeks(x):

  if x <= 4:
    return '평일'
  
  else : 
    return '주말'

In [40]:
def week(x):

  if x == 0:
    return '월'
  elif x == 1:
    return '화'
  elif x == 2:
    return '수'
  elif x == 3:
    return '목'
  elif x == 4:
    return '금'
  elif x == 5:
    return '토'
  else : 
    return '일'

In [41]:
#요일을 평일,주말로 변환
df['s_weeks'] = df['s_week'].apply(lambda x: weeks(x))
df['e_weeks'] = df['e_week'].apply(lambda x: weeks(x))

In [42]:
#요일을 한글로 변환
df['s_week'] = df['s_week'].apply(lambda x: week(x))
df['e_week'] = df['e_week'].apply(lambda x: week(x))
df.head()

,device_id,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,...,s_day,s_hour,e_year,e_month,e_day,e_hour,s_week,e_week,s_weeks,e_weeks
0,8.640000e+14,2021-06-08 12:00,2021-06-08 12:00,37.567810,126.825028,37.592553,126.693173,2045.043,187.187000,152.152000,...,8,12,2021,6,8,12,화,화,평일,평일
1,8.640000e+14,2021-06-08 22:00,2021-06-08 22:00,35.235030,128.903150,35.181012,128.955322,3283.280,100.100000,77.077000,...,8,22,2021,6,8,22,화,화,평일,평일
2,8.640000e+14,2021-06-08 22:00,2021-06-08 22:00,35.181012,128.955322,35.180432,128.954583,720.720,0.000000,0.000000,...,8,22,2021,6,8,22,화,화,평일,평일
3,8.620000e+14,2021-06-08 23:00,2021-06-08 23:00,37.541332,126.871237,37.563202,126.861593,1832.831,166.783539,137.137000,...,8,23,2021,6,8,23,화,화,평일,평일
4,8.640000e+14,2021-06-08 23:00,2021-06-08 23:00,35.180432,128.954583,35.176857,128.950837,1500.499,18.018000,12.700891,...,8,23,2021,6,8,23,화,화,평일,평일

In [20]:
df.s_week.value_counts()

화    106
목     92
월     86
금     80
토     67
일     64
수     60
Name: s_week, dtype: int64

In [21]:
#출발일과 도착일이 다른 데이터(년도와 달은 모두 같음)
df[df['s_day'] != df['e_day']]

,index,device_id,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,...,s_day,s_hour,e_year,e_month,e_day,e_hour,s_week,e_week,s_weeks,e_weeks
5,5,8.640000e+14,2021-06-08 23:00,2021-06-09 0:00,35.165535,128.957613,35.242932,128.621992,3153.150000,211.211000,...,8,23,2021,6,9,0,화,수,평일,평일
6,7,8.640000e+14,2021-06-08 23:00,2021-06-09 0:00,35.177607,128.950912,35.327685,128.753658,2382.191162,221.216202,...,8,23,2021,6,9,0,화,수,평일,평일
7,9,8.640000e+14,2021-06-08 23:00,2021-06-09 0:00,35.177492,128.950673,35.162173,129.164368,2737.735000,537.537000,...,8,23,2021,6,9,0,화,수,평일,평일
8,10,8.640000e+14,2021-06-08 23:00,2021-06-09 0:00,35.176828,128.950775,35.268353,129.230972,3797.794000,223.223000,...,8,23,2021,6,9,0,화,수,평일,평일
10,12,8.640000e+14,2021-06-08 23:00,2021-06-09 0:00,35.204213,129.083873,35.168728,128.955247,3770.767000,291.291000,...,8,23,2021,6,9,0,화,수,평일,평일
19,23,8.640000e+14,2021-06-09 23:00,2021-06-10 0:00,35.176515,128.950967,35.189632,128.612633,2900.898000,60.060000,...,9,23,2021,6,10,0,수,목,평일,평일
23,27,8.640000e+14,2021-06-09 23:00,2021-06-10 0:00,35.166042,128.957260,35.209030,128.675050,2527.525000,87.087000,...,9,23,2021,6,10,0,수,목,평일,평일
24,28,8.640000e+14,2021-06-09 23:00,2021-06-10 1:00,35.176808,128.950948,35.061853,129.009835,2111.109000,343.126343,...,9,23,2021,6,10,1,수,목,평일,평일
25,29,8.640000e+14,2021-06-09 23:00,2021-06-10 0:00,35.176797,128.950968,35.163303,128.829915,3083.080000,67.067000,...,9,23,2021,6,10,0,수,목,평일,평일
56,65,8.640000e+14,2021-06-10 23:00,2021-06-11 0:00,35.176595,128.950870,35.208920,128.608212,2453.451000,420.420000,...,10,23,2021,6,11,0,목,금,평일,평일
160,191,8.640000e+14,2021-06-13 23:00,2021-06-14 0:00,35.176670,128.950920,35.279528,128.714838,3968.965000,49.049000,...,13,23,2021,6,14,0,일,월,주말,평일
161,192,8.640000e+14,2021-06-13 23:00,2021-06-14 1:00,35.159922,129.152473,35.177033,128.950883,4081.077000,619.619000,...,13,23,2021,6,14,1,일,월,주말,평일
206,249,8.640000e+14,2021-06-14 23:00,2021-06-15 0:00,35.179983,128.956338,35.094240,128.840980,2803.801000,74.074000,...,14,23,2021,6,15,0,월,화,평일,평일
268,322,8.640000e+14,2021-06-15 23:00,2021-06-16 0:00,35.176713,128.950843,35.210083,128.665725,2485.483000,165.165000,...,15,23,2021,6,16,0,화,수,평일,평일
269,323,8.640000e+14,2021-06-15 23:00,2021-06-16 0:00,35.176805,128.950825,35.178603,128.957383,2126.124000,62.062000,...,15,23,2021,6,16,0,화,수,평일,평일
313,379,8.640000e+14,2021-06-16 23:00,2021-06-17 0:00,35.176727,128.950647,35.070357,128.833800,2470.468000,298.298000,...,16,23,2021,6,17,0,수,목,평일,평일
315,381,8.640000e+14,2021-06-16 23:00,2021-06-17 0:00,35.146095,128.880670,35.146048,128.880778,927.927000,0.000000,...,16,23,2021,6,17,0,수,목,평일,평일
372,446,8.640000e+14,2021-06-17 23:00,2021-06-18 0:00,35.179960,128.956505,34.856398,128.013308,4420.416000,72.072000,...,17,23,2021,6,18,0,목,금,평일,평일
479,568,8.640000e+14,2021-06-20 23:00,2021-06-21 0:00,35.176817,128.950832,35.162095,128.980135,2220.218000,160.160000,...,20,23,2021,6,21,0,일,월,주말,평일
480,569,8.640000e+14,2021-06-20 23:00,2021-06-21 0:00,35.177662,128.950670,35.190183,129.220783,2875.873000,98.098000,...,20,23,2021,6,21,0,일,월,주말,평일
482,571,8.640000e+14,2021-06-20 23:00,2021-06-21 0:00,35.176842,128.950747,35.208247,128.685918,4804.800000,58.058000,...,20,23,2021,6,21,0,일,월,주말,평일
522,615,8.640000e+14,2021-06-21 23:00,2021-06-22 0:00,35.176650,128.951000,35.158190,128.982117,2781.779000,184.184000,...,21,23,2021,6,22,0,월,화,평일,평일
523,616,8.640000e+14,2021-06-21 23:00,2021-06-22 0:00,35.176780,128.950845,35.048365,128.964580,3107.706299,311.311000,...,21,23,2021,6,22,0,월,화,평일,평일

In [27]:
df.head()

,index,device_id,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,s40,...,s_day,s_hour,e_year,e_month,e_day,e_hour,s_week,e_week,s_weeks,e_weeks
0,0,8.640000e+14,37.567810,126.825028,37.592553,126.693173,2045.043,187.187000,152.152000,144.144,...,8,12,2021,6,8,12,화,화,평일,평일
1,1,8.640000e+14,35.235030,128.903150,35.181012,128.955322,3283.280,100.100000,77.077000,107.107,...,8,22,2021,6,8,22,화,화,평일,평일
2,2,8.640000e+14,35.181012,128.955322,35.180432,128.954583,720.720,0.000000,0.000000,0.000,...,8,22,2021,6,8,22,화,화,평일,평일
3,3,8.620000e+14,37.541332,126.871237,37.563202,126.861593,1832.831,166.783539,137.137000,15.015,...,8,23,2021,6,8,23,화,화,평일,평일
4,4,8.640000e+14,35.180432,128.954583,35.176857,128.950837,1500.499,18.018000,12.700891,0.000,...,8,23,2021,6,8,23,화,화,평일,평일

#저장

In [ ]:
df.to_csv('/content/drive/MyDrive/datetime_data.csv')



---



---

#연관분석

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/datetime_data.csv')
df.head()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
l3 = []
for i in range(len(df.path)) :
   l3.append(df.path[i].split(','))

In [ ]:
transaction = np.array(l3)
transaction[1:4]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [ ]:
te = TransactionEncoder()
te_result = te.fit(transaction).transform(transaction)
te_result

##원핫인코딩

In [ ]:
df_2 = pd.DataFrame(te_result, columns=te.columns_)

##최소지지도 : 0.01

In [ ]:
frequent_itemsets = apriori(df_2, min_support=0.01, use_colnames=True)

In [ ]:
frequent_itemsets.sort_values('support', ascending= False)

In [ ]:
import mlxtend
from mlxtend.frequent_patterns import fpgrowth

In [ ]:
fp_result = fpgrowth(df_2, min_support=0.01, use_colnames=True)

In [ ]:
fp_result.sort_values('support', ascending= False)

In [ ]:
count = 0
for i in range(len(transaction)) :
  if '올림픽대로' in transaction[i] :
    count += 1
print(count)

In [ ]:
df_filtered = df[df.path.str.contains('올림픽대로')][['fee', 'duration(min)', 'root_dist(km)']]
df_filtered

In [ ]:
df_filtered.reset_index(inplace = True)
df_filtered.drop('index', axis=1, inplace = True)

In [ ]:
df_filtered.head()

In [ ]:
df_filtered.info()

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled = scaler.fit_transform(df_filtered)
scaled_df = pd.DataFrame(scaled)
scaled_df.head()

In [ ]:
scaled_df.corr()

##PCA

In [ ]:
from sklearn.decomposition import PCA
X = scaled_df.copy()

pca = PCA(n_components=2)

pca.fit(X)
x_pca = pca.transform(X)
x_pca

In [ ]:
pca_df = pd.DataFrame(x_pca)

In [ ]:
kmeans = KMeans(n_clusters=4, random_state=0)
clusters = kmeans.fit(pca_df)
pca_df['clusters'] = clusters.labels_

In [ ]:
pca_df.clusters.value_counts()

In [ ]:
pca_df['clusters']

In [ ]:
df_filtered['clusters'] = pca_df['clusters']
df_filtered

In [ ]:
df_filtered[df_filtered['clusters'] == 3]