<a href="https://colab.research.google.com/github/iterat1on/class/blob/main/%EC%9E%90%EB%8F%99%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')
df = pd.read_csv('/content/drive/MyDrive/complete_filled.csv')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
df.dropna(axis=0,inplace=True)

In [ ]:
df.isna().sum()

device_id               0
s_lat                   0
s_lng                   0
e_lat                   0
e_lng                   0
max_rpm                 0
s20                     0
s30                     0
s40                     0
s50                     0
s60                     0
s70                     0
s80                     0
s90                     0
s100                    0
s110                    0
s120                    0
s130                    0
s140                    0
s150                    0
start_gps               0
end_gps                 0
distance                0
start_add               0
end_add                 0
s_teukbyul_si/do        0
s_teukbyulsi/goon/gu    0
s_dong/eup/myun         0
e_teukbyulsi/do         0
e_teukbyulsi/goon/gu    0
e_dong/eup/myun         0
road_list               0
duration                0
fee                     0
root_dist               0
dtype: int64

## 시간 -> 분 변환

In [ ]:
def calc_time(x) :
  x = x.replace('분', '')
  if '시간' in x :
    try :
      hour, min = x.split('시간 ')
      a = int(hour)*60 + int(min)
    except ValueError:
      hour = x.replace('시간', '')
      a = int(hour)*60
  else :
    a = int(x)
  return a

In [ ]:
df['due_min'] = df.duration.apply(lambda x : calc_time(x))

In [ ]:
df['due_min'].value_counts()

4      182
6      180
5      158
7      153
8      152
      ...
107      1
156      1
116      1
104      1
86       1
Name: due_min, Length: 109, dtype: int64

## 요금 변환

In [ ]:
df.fee.replace(',','',regex=True,inplace=True)
df.fee.replace('원','',regex=True,inplace=True)
df.fee=df.fee.apply(pd.to_numeric)

## 거리 -> KM 변환

In [ ]:
df.reset_index(inplace= True)
df.drop('index', axis =1, inplace = True)

def root_dist_def(x) :

  if 'km' in x :
    pass
  else :
    x = x.replace('m', '')
    x = float(x)
    x = x * 0.001
    x = str(x)
    x = x + 'km'
    x = x.replace('km', '')
    x = float(x)
  return x

df['root_dist'] = df['root_dist'].apply(root_dist_def)
df.rename(columns={'root_dist': 'root_dist(km)'}, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3536 entries, 0 to 3535
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   device_id             3536 non-null   float64
 1   s_lat                 3536 non-null   float64
 2   s_lng                 3536 non-null   float64
 3   e_lat                 3536 non-null   float64
 4   e_lng                 3536 non-null   float64
 5   max_rpm               3536 non-null   float64
 6   s20                   3536 non-null   float64
 7   s30                   3536 non-null   float64
 8   s40                   3536 non-null   float64
 9   s50                   3536 non-null   float64
 10  s60                   3536 non-null   float64
 11  s70                   3536 non-null   float64
 12  s80                   3536 non-null   float64
 13  s90                   3536 non-null   float64
 14  s100                  3536 non-null   float64
 15  s110                  3536 non-null   float64
 16  s120                  3536 non-null   float64
 17  s130                  3536 non-null   float64
 18  s140                  3536 non-null   float64
 19  s150                  3536 non-null   float64
 20  start_gps             3536 non-null   object
 21  end_gps               3536 non-null   object
 22  distance              3536 non-null   float64
 23  start_add             3536 non-null   object
 24  end_add               3536 non-null   object
 25  s_teukbyul_si/do      3536 non-null   object
 26  s_teukbyulsi/goon/gu  3536 non-null   object
 27  s_dong/eup/myun       3536 non-null   object
 28  e_teukbyulsi/do       3536 non-null   object
 29  e_teukbyulsi/goon/gu  3536 non-null   object
 30  e_dong/eup/myun       3536 non-null   object
 31  road_list             3536 non-null   object
 32  duration              3536 non-null   object
 33  fee                   3536 non-null   int64
 34  root_dist(km)         3536 non-null   object
 35  due_min               3536 non-null   int64
dtypes: float64(21), int64(2), object(13)
memory usage: 994.6+ KB

In [ ]:
df['root_dist(km)'].value_counts()

12km     86
13km     76
11km     71
14km     66
15km     65
         ..
154km     1
96km      1
0.436     1
95km      1
0.86      1
Name: root_dist(km), Length: 366, dtype: int64

In [ ]:
df['root_dist(km)'].replace('km',' ',regex=True,inplace=True)

In [ ]:
df=df.drop(['s_lat','s_lng','e_lat','e_lng','distance','start_gps','end_gps','duration'],axis=1)

In [ ]:
df.to_csv('/content/drive/MyDrive/df.csv', index = False, encoding ='utf-8-sig')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3536 entries, 0 to 3535
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   device_id             3536 non-null   float64
 1   max_rpm               3536 non-null   float64
 2   s20                   3536 non-null   float64
 3   s30                   3536 non-null   float64
 4   s40                   3536 non-null   float64
 5   s50                   3536 non-null   float64
 6   s60                   3536 non-null   float64
 7   s70                   3536 non-null   float64
 8   s80                   3536 non-null   float64
 9   s90                   3536 non-null   float64
 10  s100                  3536 non-null   float64
 11  s110                  3536 non-null   float64
 12  s120                  3536 non-null   float64
 13  s130                  3536 non-null   float64
 14  s140                  3536 non-null   float64
 15  s150                  3536 non-null   float64
 16  start_add             3536 non-null   object
 17  end_add               3536 non-null   object
 18  s_teukbyul_si/do      3536 non-null   object
 19  s_teukbyulsi/goon/gu  3536 non-null   object
 20  s_dong/eup/myun       3536 non-null   object
 21  e_teukbyulsi/do       3536 non-null   object
 22  e_teukbyulsi/goon/gu  3536 non-null   object
 23  e_dong/eup/myun       3536 non-null   object
 24  road_list             3536 non-null   object
 25  fee                   3536 non-null   int64
 26  root_dist(km)         3536 non-null   object
 27  due_min               3536 non-null   int64
dtypes: float64(16), int64(2), object(10)
memory usage: 773.6+ KB

## 도로입혀진 데이터 df 불러오기

In [ ]:
road = pd.read_csv('/content/drive/MyDrive/df.csv')
road.head()

,device_id,max_rpm,s20,s30,s40,s50,s60,s70,s80,s90,...,s_teukbyul_si/do,s_teukbyulsi/goon/gu,s_dong/eup/myun,e_teukbyulsi/do,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,fee,root_dist(km),due_min
0,8.640000e+14,2437.435000,147.147000,123.401146,142.897461,259.259,28.77523,0.0,0.000,0.0,...,울산광역시,동구,남목3동,울산광역시,동구,일산동,서행 동해안로 431m 원활 미포산업로 3.5km 서행 방어진순환도로 5km,10000,9.8,17
1,8.640000e+14,2045.043000,187.187000,152.152000,144.144000,187.187,373.37300,0.0,63.063,0.0,...,서울특별시,강서구,마곡동,인천광역시,서구,당하동,서행 올림픽대로 1.8km 원활 벌말로 1.6km 원활 드림로 9.1km,17430,17.0,27
2,8.640000e+14,1760.759000,5.592834,124.124000,19.019000,3.003,0.00000,0.0,0.000,0.0,...,울산광역시,남구,화합로125번길,울산광역시,남구,달동,정체 삼산중로48번길 184m 정체 왕생로40번길 361m 정체 번영로124번길 204m,3300,1.2,5
3,8.640000e+14,2307.748291,0.000000,0.000000,0.000000,19.019,27.02700,0.0,0.000,0.0,...,경기도,고양시,덕양구,경기도,고양시,덕양구,서행 충장로350번길 951m 서행 흥도로 1.5km 서행 덕양로 1.1km,5800,4.7,9
4,8.640000e+14,0.000000,0.000000,0.000000,0.000000,0.000,0.00000,0.0,0.000,0.0,...,경기도,고양시,덕양구,경기도,고양시,덕양구,서행 도래울로 525m 원활 덕양로 776m 서행 흥도로 2.1km,5300,4.0,6

In [ ]:
road.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3536 entries, 0 to 3535
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   device_id             3536 non-null   float64
 1   max_rpm               3536 non-null   float64
 2   s20                   3536 non-null   float64
 3   s30                   3536 non-null   float64
 4   s40                   3536 non-null   float64
 5   s50                   3536 non-null   float64
 6   s60                   3536 non-null   float64
 7   s70                   3536 non-null   float64
 8   s80                   3536 non-null   float64
 9   s90                   3536 non-null   float64
 10  s100                  3536 non-null   float64
 11  s110                  3536 non-null   float64
 12  s120                  3536 non-null   float64
 13  s130                  3536 non-null   float64
 14  s140                  3536 non-null   float64
 15  s150                  3536 non-null   float64
 16  start_add             3536 non-null   object
 17  end_add               3536 non-null   object
 18  s_teukbyul_si/do      3536 non-null   object
 19  s_teukbyulsi/goon/gu  3536 non-null   object
 20  s_dong/eup/myun       3536 non-null   object
 21  e_teukbyulsi/do       3536 non-null   object
 22  e_teukbyulsi/goon/gu  3536 non-null   object
 23  e_dong/eup/myun       3536 non-null   object
 24  road_list             3536 non-null   object
 25  fee                   3536 non-null   int64
 26  root_dist(km)         3536 non-null   float64
 27  due_min               3536 non-null   int64
dtypes: float64(17), int64(2), object(9)
memory usage: 773.6+ KB

In [ ]:
road["road_list"].str.split(" ", expand=True)

        0         1      2   3        4      5     6            7      8
0      서행      동해안로   431m  원활    미포산업로  3.5km    서행      방어진순환도로    5km
1      서행     올림픽대로  1.8km  원활      벌말로  1.6km    원활          드림로  9.1km
2      정체  삼산중로48번길   184m  정체  왕생로40번길   361m    정체     번영로124번길   204m
3      서행  충장로350번길   951m  서행      흥도로  1.5km    서행          덕양로  1.1km
4      서행      도래울로   525m  원활      덕양로   776m    서행          흥도로  2.1km
...   ...       ...    ...  ..      ...    ...   ...          ...    ...
3531   원활      삼일대로  3.7km  서행    올림픽대로   18km    서행  수도권제1순환고속도로  3.5km
3532   정체      충효4길   207m  서행      태종로   613m   미확인        충효녹지길    94m
3533   원활       경감로   15km  원활    서라벌대로  4.5km    원활          대경로    3km
3534   서행       태종로   407m  서행      포석로    2km  None         None   None
3535  미확인      중원대로  1.7km  원활     중원대로  5.7km    원활         경충대로   13km

[3536 rows x 9 columns]

In [ ]:
road['road_1'] = road["road_list"].str.split(" ", expand=True)[1]
road['road_2'] = road["road_list"].str.split(" ", expand=True)[4]
road['road_3'] = road["road_list"].str.split(" ", expand=True)[7]
road.tail()

,device_id,max_rpm,s20,s30,s40,s50,s60,s70,s80,s90,...,e_teukbyulsi/do,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,fee,root_dist(km),due_min,road_1,road_2,road_3
3531,8.640000e+14,2193.191,746.746,474.474,393.393,61.061,34.034,0.000,0.000,0.0,...,서울특별시,강동구,상일동,원활 삼일대로 3.7km 서행 올림픽대로 18km 서행 수도권제1순환고속도로 3.5km,23700,28.000,33,삼일대로,올림픽대로,수도권제1순환고속도로
3532,8.640000e+14,1774.773,84.084,0.000,0.000,0.000,0.000,0.000,0.000,0.0,...,경상북도,경주시,충효녹지길,정체 충효4길 207m 서행 태종로 613m 미확인 충효녹지길 94m,3300,0.989,2,충효4길,태종로,충효녹지길
3533,8.640000e+14,2307.305,192.192,123.123,694.694,458.458,234.234,345.345,0.000,0.0,...,경상북도,경주시,건천읍,원활 경감로 15km 원활 서라벌대로 4.5km 원활 대경로 3km,36050,31.000,37,경감로,서라벌대로,대경로
3534,8.640000e+14,1906.905,110.110,54.054,59.059,0.000,0.000,0.000,0.000,0.0,...,경상북도,경주시,탑동,서행 태종로 407m 서행 포석로 2km,3600,2.400,6,태종로,포석로,None
3535,8.640000e+14,2965.963,20.020,202.202,134.134,151.151,292.292,152.152,109.109,0.0,...,경기도,이천시,대월면,미확인 중원대로 1.7km 원활 중원대로 5.7km 원활 경충대로 13km,32230,22.000,21,중원대로,중원대로,경충대로

In [ ]:
road['road_1'].fillna('-',inplace=True)
road['road_2'].fillna('-',inplace=True)
road['road_3'].fillna('-',inplace=True)

In [ ]:
road['path'] = road['road_1'] +',' + road['road_2'] +',' +  road['road_3']
road.head()

,device_id,max_rpm,s20,s30,s40,s50,s60,s70,s80,s90,...,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,fee,root_dist(km),due_min,road_1,road_2,road_3,path
0,8.640000e+14,2437.435000,147.147000,123.401146,142.897461,259.259,28.77523,0.0,0.000,0.0,...,동구,일산동,서행 동해안로 431m 원활 미포산업로 3.5km 서행 방어진순환도로 5km,10000,9.8,17,동해안로,미포산업로,방어진순환도로,"동해안로,미포산업로,방어진순환도로"
1,8.640000e+14,2045.043000,187.187000,152.152000,144.144000,187.187,373.37300,0.0,63.063,0.0,...,서구,당하동,서행 올림픽대로 1.8km 원활 벌말로 1.6km 원활 드림로 9.1km,17430,17.0,27,올림픽대로,벌말로,드림로,"올림픽대로,벌말로,드림로"
2,8.640000e+14,1760.759000,5.592834,124.124000,19.019000,3.003,0.00000,0.0,0.000,0.0,...,남구,달동,정체 삼산중로48번길 184m 정체 왕생로40번길 361m 정체 번영로124번길 204m,3300,1.2,5,삼산중로48번길,왕생로40번길,번영로124번길,"삼산중로48번길,왕생로40번길,번영로124번길"
3,8.640000e+14,2307.748291,0.000000,0.000000,0.000000,19.019,27.02700,0.0,0.000,0.0,...,고양시,덕양구,서행 충장로350번길 951m 서행 흥도로 1.5km 서행 덕양로 1.1km,5800,4.7,9,충장로350번길,흥도로,덕양로,"충장로350번길,흥도로,덕양로"
4,8.640000e+14,0.000000,0.000000,0.000000,0.000000,0.000,0.00000,0.0,0.000,0.0,...,고양시,덕양구,서행 도래울로 525m 원활 덕양로 776m 서행 흥도로 2.1km,5300,4.0,6,도래울로,덕양로,흥도로,"도래울로,덕양로,흥도로"

In [ ]:
road.path.isna().sum()

0

## 최종

In [ ]:
road.reset_index(inplace = True)
road.drop('index', axis = 1, inplace = True)
road.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3536 entries, 0 to 3535
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   device_id             3536 non-null   float64
 1   max_rpm               3536 non-null   float64
 2   s20                   3536 non-null   float64
 3   s30                   3536 non-null   float64
 4   s40                   3536 non-null   float64
 5   s50                   3536 non-null   float64
 6   s60                   3536 non-null   float64
 7   s70                   3536 non-null   float64
 8   s80                   3536 non-null   float64
 9   s90                   3536 non-null   float64
 10  s100                  3536 non-null   float64
 11  s110                  3536 non-null   float64
 12  s120                  3536 non-null   float64
 13  s130                  3536 non-null   float64
 14  s140                  3536 non-null   float64
 15  s150                  3536 non-null   float64
 16  start_add             3536 non-null   object
 17  end_add               3536 non-null   object
 18  s_teukbyul_si/do      3536 non-null   object
 19  s_teukbyulsi/goon/gu  3536 non-null   object
 20  s_dong/eup/myun       3536 non-null   object
 21  e_teukbyulsi/do       3536 non-null   object
 22  e_teukbyulsi/goon/gu  3536 non-null   object
 23  e_dong/eup/myun       3536 non-null   object
 24  road_list             3536 non-null   object
 25  fee                   3536 non-null   int64
 26  root_dist(km)         3536 non-null   float64
 27  due_min               3536 non-null   int64
 28  road_1                3536 non-null   object
 29  road_2                3536 non-null   object
 30  road_3                3536 non-null   object
 31  path                  3536 non-null   object
dtypes: float64(17), int64(2), object(13)
memory usage: 884.1+ KB

In [ ]:
road.to_csv('/content/drive/MyDrive/road_completed.csv', index = False, encoding ='utf-8-sig')

In [ ]:
import numpy as np

In [ ]:
np.array([road.path[4].split(',')])

array([['도래울로', '덕양로', '흥도로']], dtype='<U4')

In [ ]:
road.path

0              동해안로,미포산업로,방어진순환도로
1                   올림픽대로,벌말로,드림로
2       삼산중로48번길,왕생로40번길,번영로124번길
3                충장로350번길,흥도로,덕양로
4                    도래울로,덕양로,흥도로
                  ...
3531       삼일대로,올림픽대로,수도권제1순환고속도로
3532               충효4길,태종로,충효녹지길
3533                경감로,서라벌대로,대경로
3534                    태종로,포석로,-
3535               중원대로,중원대로,경충대로
Name: path, Length: 3536, dtype: object

In [ ]:
l3 = []
for i in range(len(road)) :
   l3.append(road.path[i].split(','))

In [ ]:
transaction = np.array(l3)
transaction[1:4]

array([['올림픽대로', '벌말로', '드림로'],
       ['삼산중로48번길', '왕생로40번길', '번영로124번길'],
       ['충장로350번길', '흥도로', '덕양로']], dtype='<U18')

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [ ]:
te = TransactionEncoder()
te_result = te.fit(transaction).transform(transaction)

In [ ]:
te_result

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

## 원핫인코딩

In [ ]:
df_result = pd.DataFrame(te_result, columns=te.columns_)

In [ ]:
df_result

,-,1공단로,1순환로,2산업단지1길,2순환로,2순환로742번길,3.15대로,3순환로,가곡천로,가구거리,...,흥남길,흥덕2로118번길,흥덕3로,흥덕중앙로,흥도로,흥안대로,흥정계곡길,희망공원로,희망대로,희망로
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3531,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3532,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3533,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3534,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3535,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### 최소지지도 0.01

In [ ]:
frequent_itemsets = apriori(df_result, min_support=0.01, use_colnames=True)

In [ ]:
frequent_itemsets

     support              itemsets
0   0.119627                   (-)
1   0.055995                (강변북로)
2   0.029977                (거제대로)
3   0.037048                 (경감로)
4   0.040441              (경부고속도로)
5   0.019231                (고양대로)
6   0.011312         (과천봉담도시고속화도로)
7   0.011878              (남해고속도로)
8   0.013292               (내부순환로)
9   0.022342                 (대경로)
10  0.015271                 (대주로)
11  0.010181                (동해안로)
12  0.016403                (반구대로)
13  0.028846                 (보문로)
14  0.011312                 (보불로)
15  0.016686        (분당수서간도시고속화도로)
16  0.010464                 (불국로)
17  0.013009                (산성대로)
18  0.046663                 (산업로)
19  0.038179                 (상일로)
20  0.021493               (서라벌대로)
21  0.103507         (수도권제1순환고속도로)
22  0.011878                (신천대로)
23  0.013009                (아리수로)
24  0.010181                (양산대로)
25  0.011312                (양재대로)
26  0.014706              (영동고속도로)
27  0.055430               (올림픽대로)
28  0.025170                 (외현로)
29  0.035068                 (울밀로)
30  0.018100                (울산역로)
31  0.013857                 (원화로)
32  0.022907                 (자유로)
33  0.015837              (중부고속도로)
34  0.011029                 (중앙로)
35  0.032805                (천호대로)
36  0.011029                 (첨성로)
37  0.010181                 (충장로)
38  0.019796                 (태종로)
39  0.011595                (토함산로)
40  0.010464                 (호국로)
41  0.011878             (강변북로, -)
42  0.012161      (수도권제1순환고속도로, -)
43  0.016403            (보문로, 경감로)
44  0.010747          (서라벌대로, 대경로)
45  0.010464            (외현로, 대경로)
46  0.015271           (천호대로, 상일로)
47  0.018948  (올림픽대로, 수도권제1순환고속도로)
48  0.014140           (울밀로, 울산역로)

In [ ]:
!pip uninstall mlxtend

Found existing installation: mlxtend 0.14.0
Uninstalling mlxtend-0.14.0:
  Would remove:
    /usr/local/lib/python3.7/dist-packages/mlxtend-0.14.0.dist-info/*
    /usr/local/lib/python3.7/dist-packages/mlxtend/*
Proceed (y/n)? y
  Successfully uninstalled mlxtend-0.14.0

In [ ]:
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mlxtend
  Downloading mlxtend-0.20.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 4.8 MB/s
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.20.0

In [ ]:
import mlxtend
from mlxtend.frequent_patterns import fpgrowth

In [ ]:
fp_result = fpgrowth(df_result, min_support=0.01, use_colnames=True)

In [ ]:
fp_result.sort_values('support', ascending= False)

     support              itemsets
2   0.119627                   (-)
10  0.103507         (수도권제1순환고속도로)
4   0.055995                (강변북로)
1   0.055430               (올림픽대로)
6   0.046663                 (산업로)
7   0.040441              (경부고속도로)
19  0.038179                 (상일로)
23  0.037048                 (경감로)
21  0.035068                 (울밀로)
8   0.032805                (천호대로)
35  0.029977                (거제대로)
30  0.028846                 (보문로)
26  0.025170                 (외현로)
5   0.022907                 (자유로)
24  0.022342                 (대경로)
25  0.021493               (서라벌대로)
27  0.019796                 (태종로)
14  0.019231                (고양대로)
41  0.018948  (올림픽대로, 수도권제1순환고속도로)
22  0.018100                (울산역로)
28  0.016686        (분당수서간도시고속화도로)
29  0.016403                (반구대로)
48  0.016403            (보문로, 경감로)
20  0.015837              (중부고속도로)
15  0.015271                 (대주로)
43  0.015271           (천호대로, 상일로)
11  0.014706              (영동고속도로)
45  0.014140           (울밀로, 울산역로)
38  0.013857                 (원화로)
13  0.013292               (내부순환로)
12  0.013009                (산성대로)
3   0.013009                (아리수로)
44  0.012161      (수도권제1순환고속도로, -)
42  0.011878             (강변북로, -)
36  0.011878              (남해고속도로)
32  0.011878                (신천대로)
33  0.011595                (토함산로)
9   0.011312                (양재대로)
31  0.011312                 (보불로)
17  0.011312         (과천봉담도시고속화도로)
37  0.011029                 (중앙로)
39  0.011029                 (첨성로)
47  0.010747          (서라벌대로, 대경로)
18  0.010464                 (호국로)
40  0.010464                 (불국로)
46  0.010464            (외현로, 대경로)
34  0.010181                (양산대로)
16  0.010181                 (충장로)
0   0.010181                (동해안로)

In [ ]:
# --.to_csv('/content/drive/MyDrive/--.csv', index = False, encoding ='utf-8-sig')